/* Resets ------ */ 

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; } article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; } a img {border: 0;} 

body { 
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	font-family: Arial, sans-serif;
}

#background-dimmer {
	left: 0;
	top: 0;
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%; 
} 

.buttons {
	bottom: 10px;
	position: absolute;
	right: 10px;
}

.centered {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
	
#close-button { 
	position: absolute; 
	top: 10px;
	right: 10px;
	width: 85px;
}

#ad {
	background-color: white;
	/*background-image: url(../images/logo.png);*/
	background-repeat: no-repeat;
	background-position: 10px 10px;
	border: 1px solid black;
}

.label {
	position: absolute;
	left: 10px;
	top: 65px;
}

button {
	/*background-color: #0068FF;*/
	border: none;
	color: white;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: 30px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 108px;
	user-select: none;
}

button:hover, 
button:active {
	color: #000;
}

button:active {
	font-size: 11px;
}

/*Portrait Styles*/
/*@media (max-width: 479px){
	#ad {
		height: 356px; 
		width: 320px;
	}
}*/

/*Landscape Styles*/
/*@media (min-width: 480px){
	#ad {
		height: 215px; 
		width: 480px;
	}
}*/
#ad {
	height: 598px; 
	width: 798px;
}
.buttons {
	bottom: 0px;
	right: 0px;
}
#clickthrough-button {
	height: 600px;
	opacity: 0;
	width: 800px;
}
#close-button {
	background: none;
	width: 50px;
}