/************ 
TAG STYLES
************/
html, body
{
	margin: 0;
	height: 100%;
}

body
{
	color: white;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
button
{
	user-select: none;
	cursor: pointer;
	color: white;
	border: none;
	/*background-color: #0068ff;*/
	outline: none;
	height: 30px;
	width: 110px;
	font-size: inherit;
	font-family: inherit;
}

/*video
{
	height: 100%;
	width: 100%;
}*/

strong
{
	font-weight: bold;
}

/************************
CREATIVE CONTENT STYLES
************************/
#container
{
	position: relative;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	/*background-color: #bacae4; */
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	min-height: 320px;
	min-width: 320px;
}

#close-button
{
	width: 90px;
}

.label
{
	color: #0D2A4D;
	font-size: 10px;
	position: absolute;
	margin-left: 10px;
	top: 33px;
}

.right-aligned
{
	position: absolute;
	right: 10px;
}

.top-aligned
{
	position: absolute;
	top: 10px;
}

.left-aligned
{
	position: absolute;
	left: 10px;
}

.bottom-aligned
{
	position: absolute;
	bottom: 10px;
}

.centered
{
	position: absolute;
	margin: auto;
	/*top: 0;*/
	left: 0;
	bottom: 0;
	right: 0;
}

#creative-background
{
	max-height: 100%;
	max-width: 100%;
	/*background-color: #0d2a4d;*/
	background-position: center center;
}

#creative-foreground
{
	position: absolute;
	background-color: white;
	/*background-image: url("../images/logo.png");*/
	background-repeat: no-repeat;
	background-position: 10px 10px;
	height: 400px;
	width: 1000px;
}

#creative-foreground .label
{
	font-size: 14px;
	top: 65px;
}

/*#video-container
{
	position: absolute;
	height: 270px;
	width: 480px;
	display: none;	
}*/

/*.sdk-video-player {
  height: 270px;
  width: 480px;
  position: relative;
  background: url(../images/poster.jpg);
  background-size: cover;
}*/

/*.sdk-video-player-button {
  cursor: pointer;
  position: absolute;
  width: 65px;
  height: 65px;
  top: 102px;
  left: 207px;
  background: url(../images/play.png) no-repeat scroll 0px 0px;
  background-size: cover;
}*/

/**************************
MEDIA QUERY SIZING STYLES
**************************/
/* CSS for small size */
/*@media (max-width: 479px), (max-height: 479px)
{
	#creative-background 
	{
		height: 480px;
		width: 480px;
		background-size: 480px 480px;
	}

	#creative-foreground
	{
		height: 320px;
		width: 320px;
	}

	#video-container
	{
		height: 152px;
		width: 270px;
	}
	
	.sdk-video-player {
		height: 152px;
		width: 270px;
	}

	.sdk-video-player-button {
		width: 55px;
		height: 55px;
		top: 48px;
		left: 107px;
	}	
}*/
/* CSS for medium size */
/*@media (max-height: 599px) and (min-width: 480px) and (min-height: 480px), (max-width: 599px) and (min-width: 480px) and (min-height: 480px)
{
	#creative-background
	{
		height: 800px;
		width: 800px;
		background-size: 800px 800px;
	}

	#creative-foreground
	{
		height: 480px;
		width: 480px;
	}

	#video-container
	{
		height: 203px;
		width: 360px;
	}
	
	.sdk-video-player {
		height: 203px;
		width: 360px;
	}

	.sdk-video-player-button {
		width: 55px;
		height: 55px;
		top: 74px;
		left: 152px;
	}	
}*/
/* CSS for large size */
@media (max-height: 767px) and (min-width: 600px) and (min-height: 600px), (max-width: 767px) and (min-width: 600px) and (min-height: 600px)
{
	#creative-background
	{
	    height: 400px;
	    width: 1000px;
	    background-size: 1000px 1000px;
	}

	#creative-foreground
	{
	    height: 400px;
	    width: 1000px;
	}
}
/* CSS for maximum size */
/*@media (min-width: 768px) and (min-height: 768px)
{
	#creative-background
	{
		height: 1280px;
		width: 1280px;
		background-size: 1280px 1280px;
	}

	#creative-foreground
	{
		height: 768px;
		width: 768px;
	}
}*/
/* CSS for adjusting content to fit when the screen is less then 320px tall. This may occur in landscape mode on some mobile phones. */
/*@media (max-height: 320px)
{
	#creative-background 
	{
		height: 100%;
	}

	#creative-foreground
	{
		height: 100%;
	}

	#container
	{
		min-height: 0;
	}

	#creative-foreground
	{
		background-size: auto 20px;
	}
	
	#creative-foreground .label 
	{
		font-size: 10px;
		top: 33px;
	}
}*/

/*@media (max-height: 240px)
{
	#video-container
	{
		height: 90px;
		width: 160px;
	}
	
	.sdk-video-player {
		height: 90px;
		width: 160px;
	}

	.sdk-video-player-button {
		width: 35px;
		height: 35px;
		top: 27px;
		left: 62px;
	}	
}*/
#clickthrough-button {
	bottom: 0;
	height: 100%;
	opacity: 0;
	right: 0;
	width: 100%;
}