body {
    font-family: Arial, sans-serif;
}
button {
    /*background-color: #0068FF;*/
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}
button:hover,
button:active {
    color: #000;
}
button:active {
    font-size: 11px;
}
.label {
    color: #0D2A4D;
    position: absolute;
    margin-left: 10px;
    top: 35px;
}
body {
    margin: 0px;
}
#container {
    position: absolute;
    display: block;
    width: 728px;
    height: 200px;
}
#ad {
    position: relative;
    display: block;
    left: 0px;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ad.collapsed {
    width: 726px;
    /*2px smaller to account for border*/
    
    height: 88px;
    /*2px smaller to account for border*/
}
#ad.expanded {
    width: 726px;
    /*2px smaller to account for border*/
    
    height: 198px;
    /*2px smaller to account for border*/
}
#banner {
    position: absolute;
    display: block;
    width: 726px;
    height: 88px;
    left: 0px;
    background-color: #FFF;
    /*background-image: url(../images/logo.png);*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    overflow: hidden;
}
#panel {
    position: absolute;
    width: 726px;
    height: 198px;
    background-color: #FFF;
    /*background-image: url(../images/logo.png);*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.expanded #banner {
    display: none;
}
.collapsed #panel {
    display: none;
}
.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.button {
    height: 26px;
    width: 108px;
}
.button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 74px;
}
.label {
    font-size: 14px;
    top: 65px;
}
#ad.collapsed {
    position: absolute;
    bottom: 0;    
}


.buttons {
    bottom: 0px;
    right: 0px;
}
#expand-button {
    height: 90px;
    opacity: 0;
    width: 728px;   
}
#clickthrough-button {
    height: 200px;
    opacity: 0;
    width: 728px;
}