button {
  user-select: none;
  cursor: pointer;
  color: white;
  border: none;
  /*background-color: #0068ff;*/
  outline: none;
  height: 30px;
  width: 110px;
  font-size: inherit;
  font-family: inherit; }
  button:hover {
    color: white; }
  button:active {
    color: white;
    font-size: 11px; }

html, body {
  margin: 0;
  height: 100%; }

body {
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#container {
  /*position: relative;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #bacae4; 
  box-sizing: border-box; }

.collapsed {
  height: 200px;
  width: 1000px; }

.expanded {
  height: 400px;
  width: 1000px;
  /*min-height: 320px;*/
  /*min-width: 320px; */
}

#collapsed-content {
  height: 100%;
  width: 100%;
  background-position: 10px 10px;
  background-color: white;
  background-repeat: no-repeat; }

#expand-button {
  margin: auto;
  top: 0;
  bottom: 0; 
  width: 80px;
  right: 40px; 
  position: absolute; }

.label {
  color: #0D2A4D;
  font-size: 14px;;
  position: absolute;
  margin-left: 10px;
  top: 65px;; }
  
strong {
  font-weight: bold; }

#close-button {
  width: 90px; }

#close-ad-button{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 26px;
	height: 26px;
}

.right-aligned {
  position: absolute;
  right: 10px; }

.top-aligned {
  position: absolute;
  top: 10px; }

.left-aligned {
  position: absolute;
  left: 10px; }

.bottom-aligned {
  position: absolute;
  bottom: 10px; }

.centered {
  position: absolute;
  margin: auto;
  /*top: 0;*/
  left: 0;
  bottom: 0;
  right: 0; }

#creative-background {
  max-height: 100%;
  max-width: 100%;
  background-color: #0d2a4d;
  background-position: center center; }

p {
  margin: 10px; }

#creative-foreground {
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 10px 10px; }

#creative-foreground .label {
  font-size: 14px;
  top: 65px; }

/*#video-container {
  position: absolute;
  height: 270px;
  width: 480px; }

video {
  height: 100%;
  width: 100%; }*/

/* CSS for small size */
/*@media (max-width: 479px), (max-height: 479px) {
  #creative-background {
    height: 480px;
    width: 480px;
    background-size: 480px 480px; }

  #creative-foreground {
    height: 320px;
    width: 320px; }

  #video-container {
    height: 152px;
    width: 270px; } }*/
/* CSS for medium size */
/*@media (max-height: 599px) and (min-width: 480px) and (min-height: 480px), (max-width: 599px) and (min-width: 480px) and (min-height: 480px) {
  #creative-background {
    height: 800px;
    width: 800px;
    background-size: 800px 800px; }

  #creative-foreground {
    height: 480px;
    width: 480px; }

  #video-container {
    height: 203px;
    width: 360px; } }*/
/* CSS for large size */
@media (max-height: 767px) and (min-width: 600px) and (min-height: 600px), (max-width: 767px) and (min-width: 600px) and (min-height: 600px) {
  #creative-background {
    height: 400px;
    width: 1000px;
    background-size: 1000px 1000px; }

  #creative-foreground {
    height: 400px;
    width: 1000px; } }
/* CSS for maximum size */
/*@media (min-width: 768px) and (min-height: 768px) {
  #creative-background {
    height: 1280px;
    width: 1280px;
    background-size: 1280px 1280px; }

  #creative-foreground {
    height: 768px;
    width: 768px; } }*/
/* CSS for adjusting content to fit when the screen is less then 320px tall. This may occur in landscape mode on some mobile phones. */
/*@media (max-height: 320px) {
  #creative-background {
    height: 100%; }

  #creative-foreground {
    height: 100%; }

  #container {
    min-height: 0; }

  #creative-foreground {
    background-size: auto 20px; }
    #creative-foreground .label {
      font-size: 10px;
      top: 33px; } }
@media (max-height: 240px) {
  #video-container {
    height: 90px;
    width: 160px; } }*/
#expand-button {
  height: 100%;
  opacity: 0;
  right: 0;
  width: 100%;
}
#clickthrough-button {
  bottom: 0;
  height: 100%;
  opacity: 0;
  right: 0;
  width: 100%;  
}